{% extends "base" %}

{% block content %}
    <p><h1>Characters</h1></p>
    <p><b>Alive:</b> {{ alive }}</p>
    <p><b>Dead:</b> {{ total - alive }}</p>
    <p><b>Year:</b> {{ total }}</p>
    <p><a href="/">Back</a></p>
{% endblock content %}
