{% extends "base" %}

{% block content %}
    <p><h1>{{ name }}</h1></p>
    <p><b>Id:</b> {{ id }}</p>
    <p><b>Race:</b> <a href="/race/{{ race_id }}">{{ race }}</a></p>
    <p><b>Gender:</b> {{ gender }}</p>
    <p><b>Birth Date:</b> {{ birth_date }}</p>
    <p><b>Age:</b> {{ age }}</p>
    <p><a href="/">Back</a></p>
{% endblock content %}
