{% extends "base" %}

{% block content %}
    <p><h1>{{ name }}</h1></p>
    <p><b>Id:</b> {{ id }}</p>
    <p><b>Gender Option:</b> {{ gender }}</p>
    <p><b>Stages:</b></p>
    <ul>
    {% for s in stages %}
      <li>{{ s }}</li>
    {% endfor %}
    </ul>
    <p><a href="/">Back</a></p>
{% endblock content %}
